LLM_MODEL=dashscope/qwen3.6-27b
EMBEDDING_MODEL_NAME=dashscope/text-embedding-v4
EMBEDDING_DIMENSION=1024
LLM_API_KEY=sk-f9aba44*******************f190a9

# Langsmith configuration
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT="Learn"
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=lsv2_pt_6e6559****************a04e16b8_750c09da89

# =============================================================================
# Tavily Search API (Optional, required for web search tool)
# =============================================================================
TAVILY_API_KEY=tvly-dev-K***************************p8p
